.controlPane {
  scroll-snap-align: center;
  padding: 24px;
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 32px;
}

.title {
  margin: 0;
  /* Optical centering */
  margin-bottom: -4px;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);
}

@media (max-width: 481px) {
  .title {
    /* width: fit-content; */
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .metadata {
    font-size: 1rem;
  }

  .controlPane {
    
    width: 100%;
  }
}